<section class="header">
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light corousel-position">
        <div class="col-lg-1 col-md-8">
          <a class="navbar-brand"
            ><i
              class="fa fa-graduation-cap"
              aria-hidden="true"
              style="color: orange"
            ></i>
            EDUREAD</a
          >
        </div>
        <div class="col-md-2">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="col-lg-1">
          <a class="nav-link collapse navbar-collapse" href="index.php"
            >Home <span class="sr-only">(current)</span></a
          >
        </div>
        <div class="col-lg-1">
          <a class="nav-link collapse navbar-collapse" href="courses.php"
            >Course</a
          >
        </div>
        <div class="col-lg-1">
          <a class="nav-link collapse navbar-collapse" href="events.php"
            >Event</a
          >
        </div>

        <div class="col-lg-1">
          <a class="nav-link collapse navbar-collapse" href="blogpage.php"
            >Blog</a
          >
        </div>
        <div class="col-lg-1">
          <a
            class="nav-link collapse navbar-collapse"
            routerLink="/Registration"
            >Register</a
          >
        </div>
        <div class="col-lg-2">
          <a class="nav-link collapse navbar-collapse" routerLink="/Teacher"
            >Teachers</a
          >
        </div>
        <div class="col-lg-2">
          <button
            type="button"
            class="btn btn-primary collapse navbar-collapse"
            data-toggle="modal"
            data-target="#exampleModal"
            data-whatever="@mdo"
          >
            Get in Touch
          </button>
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Get in Touch
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label"
                        >Name:</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="recipient-name"
                      />
                    </div>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label"
                        >E-mail:</label
                      >
                      <input
                        type="emial"
                        class="form-control"
                        id="recipient-name"
                      />
                    </div>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label"
                        >Phone Number:</label
                      >
                      <input
                        type="emial"
                        class="form-control"
                        id="recipient-name"
                      />
                    </div>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label"
                        >Select Branch:</label
                      >
                      <select
                        name=""
                        id=""
                        class="form-control"
                        placeholder="select"
                      >
                        <option value="">select</option>

                        <option value="">CSE</option>
                        <option value="">EEE</option>
                        <option value="">MECH</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label"
                        >Message:</label
                      >
                      <textarea
                        class="form-control"
                        id="message-text"
                      ></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-primary">SUBMIT</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
