<!-- section course -->

<section class="bg-course">
  <div class="layer">
    <div class="container">
      <div class="d-flex justify-content-center">
        <h1 class="h-1" style="color: aliceblue; margin-top: 200px">
          Our Teachers
        </h1>
      </div>
    </div>
  </div>
</section>

<!-- teachers cards -->

<section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mb-3">
        <div class="card">
          <img
            src="assets/images/techer-1.avif"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body p-3">
            <div>
              <h5 style="text-align: center; font-weight: bold">Nazeema</h5>
            </div>
            <div>
              <p style="text-align: center">PROFEESOR OF MATHMATICS</p>
            </div>
            <div class="teacher-card">
              <div>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mb-3">
        <div class="card">
          <img
            src="assets/images/teacher3.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body p-3">
            <div>
              <h5 style="text-align: center; font-weight: bold">Revanth</h5>
            </div>
            <div>
              <p style="text-align: center">PROFEESOR OF PYTHON</p>
            </div>
            <div class="teacher-card">
              <div>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mb-3">
        <div class="card">
          <img
            src="assets/images/techer-2.avif"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body p-3">
            <div>
              <h5 style="text-align: center; font-weight: bold">Radhika</h5>
            </div>
            <div>
              <p style="text-align: center">PROFEESOR OF C++</p>
            </div>
            <div class="teacher-card">
              <div>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mb-3">
        <div class="card">
          <img src="assets/images/techer4.jpg" class="card-img-top" alt="..." />
          <div class="card-body p-3">
            <div>
              <h5 style="text-align: center; font-weight: bold">Alif</h5>
            </div>
            <div>
              <p style="text-align: center">PROFEESOR OF JAVA</p>
            </div>
            <div class="teacher-card">
              <div>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mb-3">
        <div class="card">
          <img src="assets/images/techer5.jpg" class="card-img-top" alt="..." />
          <div class="card-body p-3">
            <div>
              <h5 style="text-align: center; font-weight: bold">Raju</h5>
            </div>
            <div>
              <p style="text-align: center">PROFEESOR OF DRAWING</p>
            </div>
            <div class="teacher-card">
              <div>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mb-3">
        <div class="card">
          <img
            src="assets/imageS/techer-6.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body p-3">
            <div>
              <h5 style="text-align: center; font-weight: bold">Naina</h5>
            </div>
            <div>
              <p style="text-align: center">PROFEESOR OF DBMS</p>
            </div>
            <div class="teacher-card">
              <div>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mb-3">
        <div class="card">
          <img
            src="assets/imageS/techer-6.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body p-3">
            <div>
              <h5 style="text-align: center; font-weight: bold">Naina</h5>
            </div>
            <div>
              <p style="text-align: center">PROFEESOR OF DBMS</p>
            </div>
            <div class="teacher-card">
              <div>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mb-3">
        <div class="card">
          <img src="assets/images/techer7.jpg" class="card-img-top" alt="..." />
          <div class="card-body p-3">
            <div>
              <h5 style="text-align: center; font-weight: bold">Bhanu</h5>
            </div>
            <div>
              <p style="text-align: center">PROFEESOR OF DLD</p>
            </div>
            <div class="teacher-card">
              <div>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mb-3">
        <div class="card">
          <img
            src="assets/images/techer8.avif"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body p-3">
            <div>
              <h5 style="text-align: center; font-weight: bold">SAJEEV</h5>
            </div>
            <div>
              <p style="text-align: center">PROFEESOR OF MFCS</p>
            </div>
            <div class="teacher-card">
              <div>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
