<!-- section cards -->

<section>
  <div class="container card-position">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div data-aos="fade-up" data-aos-duration="2000">
          <div class="card bg-primary-1 p-2">
            <img
              src="assets/images/graduated.png"
              alt=""
              class="p-2 icon-img"
              width="100px"
            />
            <div class="card-body">
              <h5 class="card-title card-tit">PROFESSIONAL TEACHERS</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div data-aos="fade-up" data-aos-duration="2000">
          <div class="card bg-green p-2">
            <img src="assets/images/student.png" alt="" class="p-2 icon-img" />
            <div class="card-body">
              <h5 class="card-title card-tit">LEARN ANY WHERE ONLINE</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div data-aos="fade-up" data-aos-duration="2000">
          <div class="card bg-burlywood p-2">
            <img
              src="assets/images/education.png"
              alt=""
              width="80px"
              class="p-2 icon-img"
            />
            <div class="card-body">
              <h5 class="card-title card-tit">GRADUATION CERTIFICATE</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section welcome -->

<section class="container">
  <div class="row mt-1">
    <div class="col-md-8">
      <div class="welcome">
        <div>
          <h1>Welcome to EduRead</h1>
          <p class="mt-2">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In quos,
            officia nulla incidunt quasi ullam atque neque sint ad eos,
            laboriosam assumenda, accusamus natus unde aut? Autem, fugit!
            Repellendus, iusto. Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Animi, quam nihil cumque debitis veniam expedita
            tenetur et explicabo natus excepturi ipsam qui perspiciatis quaerat
            officia fugiat fugit eaque magni temporibus.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img
        src="assets/images/young-students-classroom__1_-removebg-preview.png"
        alt=""
        class="img-1"
      />
    </div>
  </div>
</section>

<!-- section courses cards -->
<!-- <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>1 </ng-template>
  <ng-template carouselSlide>2 </ng-template>
  <ng-template carouselSlide>3 </ng-template>
  <ng-template carouselSlide> 4</ng-template>
</owl-carousel-o> -->

<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img src="assets/images/rating.png" alt="" />
  </ng-template>
  <ng-template carouselSlide>
    <img src="assets/images/rating.png" alt=""
  /></ng-template>
  <ng-template carouselSlide>
    <img src="assets/images/rating.png" alt=""
  /></ng-template>
  <ng-template carouselSlide>
    <img src="assets/images/rating.png" alt=""
  /></ng-template>
</owl-carousel-o>

<section class="container-fluid">
  <div class="border-1">
    <div class="container mt-5">
      <h1 class="h-1" style="text-align: center">Popular Courses</h1>
      <div class="row mt-5">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-3">
          <div class="card box-shadow">
            <div class="animate-pulse">
              <img src="" class="card-img-top" alt="..." />
            </div>

            <div class="card-body">
              <h5 class="card-title card-tit">WordPress Theme Development</h5>
              <div class="card-star">
                <div class="animate-pulse">
                  <img
                    src="assets/images/rating.png"
                    alt=""
                    width="70px"
                    height="70px"
                  />
                </div>
                <div>
                  <p class="review">20 Reviews</p>
                </div>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <div class="like-card-1">
                <div class="like-card">
                  <div>
                    <i
                      class="fa fa-user"
                      aria-hidden="true"
                      style="color: gray; margin-right: 5px"
                    ></i>
                  </div>
                  <div>
                    <p class="m-0">80</p>
                  </div>
                  <div>
                    <i
                      class="fa fa-heart"
                      aria-hidden="true"
                      style="color: gray; margin-left: 10px; margin-right: 5px"
                    ></i>
                  </div>
                  <div>
                    <p class="m-0">50</p>
                  </div>
                </div>
                <div class="like-card">
                  <p class="m-0">Free</p>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section video -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-shadow">
        <video
          src="assets/video/pexels-pavel-danilyuk-7945680 (1080p).mp4"
          controls
          autoplay
          width="100%"
        ></video>
      </div>
    </div>
  </div>
</section>

<h2 class="display_text">Test Heading</h2>

<!-- section up-comming Events -->

<section class="up-comming-events">
  <div class="container">
    <h1 class="h-1 mt-5 mb-5" style="text-align: center">UP COMMING EVENTS</h1>
    <!-- <div data-aos="fade-right"
        data-aos-duration="2000"> -->
    <div class="card mb-3 box-shadow">
      <div class="row">
        <div class="col-md-4">
          <img
            src="/assets/images/ui-ux-representations-with-laptop.jpg"
            alt="..."
            width="100%"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title card-tit mt-3">
              Basic UI and UX Design for Development
            </h5>
            <div class="row">
              <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <i
                      class="fa fa-calendar"
                      aria-hidden="true"
                      style="color: gray"
                    ></i>
                  </div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p>1st January</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <i
                      class="fa fa-clock-o"
                      aria-hidden="true"
                      style="color: gray"
                    ></i>
                  </div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p>8:00 am To 5:00 pm</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
                <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <i
                      class="fa fa-map-marker"
                      aria-hidden="true"
                      style="color: gray"
                    ></i>
                  </div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p>New York</p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                sed provident, earum, accusantium ab eligendi ut consequatur
                quasi commodi, ullam id optio voluptates tempora vero impedit
                iure temporibus eaque voluptatem.
              </p>
            </div>
            <div class="d-flex">
              <div>
                <p>Read More</p>
              </div>
              <div>
                <i
                  class="fa fa-arrow-right mar"
                  aria-hidden="true"
                  style="color: gray"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 box-shadow">
      <div class="row">
        <div class="col-md-4">
          <img
            src="/assets/images/multi-colored-fish-sculpture-glows-homemade-decoration-generated-by-ai.jpg"
            alt="..."
            width="415px"
            height="260px"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title card-tit mt-3">
              Basic UI and UX Design for Development
            </h5>
            <div class="row">
              <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
                <i
                  class="fa fa-calendar"
                  aria-hidden="true"
                  style="color: gray; margin-right: 10px"
                ></i
                >1st January
              </div>

              <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                <i
                  class="fa fa-clock-o"
                  aria-hidden="true"
                  style="color: gray; margin-right: 10px"
                ></i
                >8:00 am To 5:00 pm
              </div>
              <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
                <i
                  class="fa fa-map-marker"
                  aria-hidden="true"
                  style="color: gray; margin-right: 10px"
                ></i>
              </div>
            </div>
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                sed provident, earum, accusantium ab eligendi ut consequatur
                quasi commodi, ullam id optio voluptates tempora vero impedit
                iure temporibus eaque voluptatem.
              </p>
            </div>
            <div class="d-flex">
              <div>
                <p>Read More</p>
              </div>
              <div>
                <i
                  class="fa fa-arrow-right mar"
                  aria-hidden="true"
                  style="color: gray"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section animated scrolling -->

<section class="bg-img-1">
  <div class="layer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-3">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-4">
              <div class="icon-1">
                <div>
                  <img
                    src="/assets/images/graduated.orange.png"
                    alt=""
                    width="60px"
                  />
                </div>
                <div>
                  <h1 class="mt-2">500</h1>
                </div>
                <div>
                  <p>active Students</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-4">
              <div class="icon-1">
                <div>
                  <img
                    src="/assets/images/online-education.png"
                    alt=""
                    width="60px"
                  />
                </div>
                <div>
                  <h1 class="mt-2">500</h1>
                </div>
                <div>
                  <p>Online Courses</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-4">
              <div class="icon-1">
                <div>
                  <img
                    src="/assets/images/graduated.orange.png"
                    alt=""
                    width="60px"
                  />
                </div>
                <div>
                  <h1 class="mt-2">500</h1>
                </div>
                <div>
                  <p>active Students</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-4">
              <div class="icon-1">
                <div>
                  <img
                    src="/assets/images/online-education.png"
                    alt=""
                    width="60px"
                  />
                </div>
                <div>
                  <h1 class="mt-2">500</h1>
                </div>
                <div>
                  <p>Online Courses</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section publication -->
<section>
  <div class="container">
    <h1 class="h-1 d-flex justify-content-center mt-5 mb-5">Our Publication</h1>
    <div class="row row-cols-1 row-cols-md-4 mb-5">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-4">
        <div class="card box-shadow">
          <img
            src="../../assets/images/front-view-stacked-books-graduation-cap-diploma-education-day - Copy.jpg"
            class="card-img-top"
            alt="..."
            height="350px"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <div class="d-flex pub">
              <div>
                <p>$90</p>
              </div>
              <div>
                <button>BUY NOW</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-4">
        <div class="card box-shadow">
          <img
            src="../../assets/images/high-angle-stacked-books-graduation-cap-diploma-education-day.jpg"
            class="card-img-top"
            alt="..."
            height="350px"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <div class="d-flex pub">
              <div>
                <p>$90</p>
              </div>
              <div>
                <button>BUY NOW</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-4">
        <div class="card box-shadow">
          <img
            src="../../assets/images/professional-camera-blurred_169016-10249.avif"
            class="card-img-top"
            alt="..."
            height="350px"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <div class="d-flex pub">
              <div>
                <p>$90</p>
              </div>
              <div>
                <button>BUY NOW</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-4">
        <div class="card box-shadow">
          <img
            src="../../assets/images/stack-various-books-table.jpg"
            class="card-img-top"
            alt="..."
            height="350px"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <div class="d-flex pub">
              <div>
                <p>$90</p>
              </div>
              <div>
                <button>BUY NOW</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section latestNews -->

<section class="bg-img-2">
  <div class="layer">
    <div class="container">
      <div class="p-5">
        <h1 style="color: white; text-align: center">latestNews</h1>
      </div>

      <div class="row">
        <div
          class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-3"
          *ngFor="let data of coursesData"
        >
          <div class="card box-shadow">
            <div class="animate-pulse">
              <img
                src="http://localhost/admin/assets/uploads/courses/{{
                  data?.image
                }}"
                class="card-img-top"
                alt="..."
              />
            </div>

            <div class="card-body">
              <h6 class="h-1">{{ data?.title }}</h6>
              <div class="d-flex">
                <div class="events-1">
                  <div>
                    <i
                      class="fa fa-calendar"
                      aria-hidden="true"
                      style="color: gray"
                    ></i>
                  </div>
                  <div>
                    <p class="mar">1st January</p>
                  </div>
                </div>
                <div class="events-1">
                  <div>
                    <i
                      class="fa fa-user"
                      aria-hidden="true"
                      style="color: gray"
                    ></i>
                  </div>
                  <div>
                    <p class="mar">john</p>
                  </div>
                </div>
                <div class="events-1">
                  <div>
                    <i
                      class="fa fa-comment"
                      aria-hidden="true"
                      style="color: gray"
                    ></i>
                  </div>
                  <div>
                    <p class="mar">12</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section instruction -->

<section class="bg-img-3">
  <div class="layer-1 get-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-8" style="text-align: center">
          <h1 class="h-2">Like To Become An Instuctor?</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nulla
            odio nobis
          </p>
        </div>
        <div class="col-md-4">
          <div style="text-align: center">
            <button class="btn-2">Get Started</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
